{% load static %}

<style>
    .helo-pg {
        font-size: 18px;
        color: chartreuse;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <img src="{% static '/images/5.jpg' %}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    
    </div>
      <div><ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href=""><h2>GSA TECH WORLD</h2></a>
            </li>
        
        </ul></div>
   
</nav>